<footer class="footer">
  <div class="footerlinks">
    <div class="section-left">
      <a class="underline" href="/about/">About</a>
      <a class="underline" href="/games/">All games</a>
    </div>
    <div class="section-right">
      <a class="underline" href="/blog">Blog</a>
      <a class="underline" href="/AJ-Weeks_CV.pdf">CV</a>
    </div>
  </div>
  <p>&copy; {{site.username}}</p>
  <a rel="me" href="https://mastodon.gamedev.place/@ajweeks"></a>
</footer>
<script src="/assets/js/main.js" async></script>
