<div id="page-header">
  <div class="row content">
    <a href="/" style="color: #fff; text-decoration: none"><span class="site-title">{{site.username}}</span></a>

    <div class="icons-header">
      <div class="tooltip">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa-solid fa-envelope"></i></a>
      </div>
      <div class="tooltip">
        <a aria-label="My X (Twitter)" target="_blank" href="https://x.com/{{site.x_username}}"><i class="icon fa fa-brands fa-x-twitter"></i></a>
      </div>
      <div class="tooltip">
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
