<div id="page-header">
  <div class="row content">
    <a href="/" style="color: #fff; text-decoration: none"><span class="site-title">{{site.username}}</span></a>

    <div class="icons-header">
      <div class="tooltip">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="tooltip">
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="tooltip">
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
