<div class="container">
  <div class="user-details">
    <h3>My Expertise</h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="three columns">
      <h4>Languages</h4>
      <div class="tooltip">
        <span class="tooltiptext">C++</span>
        <i class="devicon-cplusplus-plain-wordmark"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">C#</span>
        <i class="devicon-csharp-plain"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Python</span>
        <i class="devicon-python-plain"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Rust</span>
        <i class="devicon-rust-plain"></i>
      </div>
      <p></p>
    </div>
    <div class="four columns">
      <h4>APIs</h4>
      <div class="tooltip">
        <span class="tooltiptext">OpenGL</span>
        <img class="logo" alt="OpenGL" src="/assets/img/opengl-grey.svg" width="97" height="40px"/>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Vulkan</span>
        <img alt="Vulkan" src="/assets/img/vulkan-grey.svg" height="40px"/>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">DirectX</span>
        <img alt="DirectX" src="/assets/img/directx.svg" height="40px"/>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">FMOD</span>
        <img alt="fmod" src="/assets/img/fmod.svg" height="35px"/>
      </div>
      <!-- <img alt="sfml" src="assets/img/sfml.svg" height="75px"/> -->
      <p></p>
    </div>
    <div class="four columns">
      <h4>Software</h4>
      <div class="tooltip">
        <span class="tooltiptext">Visual Studio</span>
        <i class="devicons devicons-visualstudio"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Perforce Helix</span>
        <img alt="fmod" src="/assets/img/perforce-helix-icon.png" height="60px"></img>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Git</span>
        <i class="devicon-git-plain-wordmark"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Unity</span>
        <i class="devicons devicons-unity_small"></i>
      </div>
      <div class="tooltip">
        <span class="tooltiptext">Unreal Engine</span>
        <img alt="unreal engine" src="assets/img/unreal-engine-4.svg" height="75px" />
      </div>
      <div class="tooltip">
        <span class="tooltiptext">linux</span>
        <i class="devicon-linux-line"></i>
      </div>
      <p></p>
    </div>
  </div>
</div>
